<div
  fxLayoutAlign="center center"
  style="
    background-image: url('../../../assets/images/bookstore-wallpaper1.jpg');
  "
  fxFill
>

<div class="container" fxLayoutAlign="space-evenly center" >
    <mat-card  fxLayout="column" fxFlex.lt-md="80%" fxFlex.gt-sm="65%" ngClass.gt-lg="lg" >
        <!-- <mat-card-title class="title">Forgot Password</mat-card-title><br/> -->
        <mat-toolbar ngClass.gt-lg="lg">Forgot Password</mat-toolbar>
        <form class="forgotpassword-form" fxLayout = "column" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <mat-label>EmailId</mat-label>
                <input matInput type="email" [formControl]="emailId" placeholder="email-id" autocomplete="off" >
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="emailId.hasError('email') && !emailId.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="emailId.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
            </mat-form-field>
            <mat-card-actions fxLayoutAlign="center">  
                <button mat-raised-button mat-dialog-close [disabled]="forgotPasswordForm.invalid" type="submit">submit</button>
            </mat-card-actions>
        </form>
    </mat-card>

</div>