<div fxLayout="column" class="container">
    <div class="successImg">
        <div fxLayoutAlign="center center" fxLayout="column">
            <span class="mat-title">Online Bookstore Application</span>
            <img src="../../../assets/images/tick.png" style="width: 30%;height: 40%;"><br>
        </div>
    </div>
    <div class="successMsg">
        <div fxLayout="column" fxLayoutAlign="center center">
            <span class="mat-headline" style="color: green;">Congratulations! Your Verification Successfully Done!</span>
            <button mat-raised-button style="background-color: rgb(179, 59, 59);color:white;" (click)="onclick()">Continue.</button>
        </div>
    </div>

</div>