.container
{
    height: 100%;
    width: 100%;
}
.successImg
{
    width: 100%;
    height: 50%;
}
.successMsg
{
    width: 100%;
    height: 50%;
}
.mat-title
{
    width: 100%;
    height: 30%;
    text-align: center;
    background-color: brown;
    color: white;
}