mat-card {
  width: 100%;
  height: fit-content;
  overflow: auto;
}
.titleInput,
.authorInput,
.priceInput,
.quantityInput {
  width: 48%;
}
mat-toolbar {
  background-color: brown;
}
::placeholder {
  font-size: 90%;
}
.mat-card-lt-md {
  width: 100%;
}
button {
  background-color: brown;
  outline: none;
}
mat-error {
  font-size: x-small;
}
.fileButton {
  // width: 50%;
  outline: none;
}
