/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.custom-modalbox .mat-dialog-container {
  padding: 0px;
  overflow: auto;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:black;
  color: white;
  height: 40px;
  padding-left: 35%;
  font-size: 16px;

}