<div
  fxLayoutAlign="center center"
  class="container"
  style="
    background-image: url('../../../assets/images/bookstore-wallpaper1.jpg');
  "
  fxFill
>
  <mat-card
    class="mat-card-main"
    fxLayout="column"
    fxFlex.xs="100%"
    fxFlex.gt-xs="80%"
    fxFlex.gt-md="40%"
    fxLayoutGap="10px"
  >
    <mat-toolbar>
      <span class="title-center">{{ title }}</span></mat-toolbar
    >
    <form
      fxLayout="column"
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onConfirm()"
    >
      <mat-form-field appearance="outline">
        <mat-label>password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="password"
          formControlName="password"
        />
        <mat-error
          *ngIf="resetPasswordForm.get('password').hasError('required')"
          >password is required</mat-error
        >
        <mat-error *ngIf="resetPasswordForm.get('password').hasError('pattern')"
          >password must have 1 lowercase,1 uppercase,1 character and 8
          length</mat-error
        >
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>confirmPassword</mat-label>
        <input
          matInput
          [type]="hide1 ? 'password' : 'text'"
          [class.is-invalid]="resetPasswordForm.errors?.mismatch"
          placeholder="confirm-password"
          formControlName="confirmPassword"
        />
        <mat-error
          *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')"
          >password is required</mat-error
        >
        <small
          *ngIf="
            resetPasswordForm.hasError('mismatch') &&
            resetPasswordForm.get('confirmPassword').touched
          "
          style="color: red;"
          >passwords mismatch</small
        >
        <mat-icon matSuffix (click)="hide1 = !hide1">
          {{ hide1 ? "visibility_off" : "visibility" }}</mat-icon
        >
      </mat-form-field>
      <button
        mat-raised-button
        fxFlexAlign="center"
        [disabled]="!resetPasswordForm.valid"
        type="submit"
      >
        submit
      </button>
    </form>
  </mat-card>
</div>
